<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
      
<head>
    <style>

        .col-md-6 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h2>Main Content Page</h2>
    <div layout:fragment="content" class="container text-center">
        <h1>인기 제품</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <a href="/game/1623730">
                	<img src="/images/Palworld_img.jpg" alt="게임 이미지" style="width: 100%; max-width: 400px;">
                    <div style="width: 100%; display:flex; justify-content: center;">
                        <div class="col-md-6-subbox">₩ 32,000</div>
                    </div>
            	</a>
            </div>
            <div class="col-md-6">
				<a href="/game/578080">
                	<img src="/images/PUBG BATTLEGROUNDS_img.jpg" alt="게임 이미지" style="width: 100%; max-width: 400px;">
                    <div style="width: 100%; display:flex; justify-content: center;">
                        <div class="col-md-6-subbox">FREE</div>
                    </div>
				</a>
            </div>
            <div class="col-md-6">
				<a href="/game/1091500">
                	<img src="/images/Cyberpunk 2077_img.jpg" alt="게임 이미지" style="width: 100%; max-width: 400px;">
                    <div style="width: 100%; display:flex; justify-content: center;">
                        <div class="col-md-6-subbox">₩ 66,000</div>
                    </div>
            	</a>

            </div>
            <div class="col-md-6">
				<a href="/game/1966720">
                	<img src="/images/Lethal Company_img.jpg" alt="게임 이미지" style="width: 100%; max-width: 400px;">
                    <div style="width: 100%; display:flex; justify-content: center;">
                        <div class="col-md-6-subbox">	₩ 11,000</div>
                    </div>
            	</a>
            </div>
        </div>
    </div>
</body>
</html>